{% extends 'base.html' %}
{% block content %}
    <!-- banner -->
    <div class="container-fluid">
        <div class="row max-height">
            <!-- message inside banner -->
            <div class="container">
                <div class="col-md-6 banner text-left py-4">
                    <h1 class="text-capitalize">Better Family Care</h1>
                    <div>
                        <span class="d-flex justify-content-between ">
                            <i class="icons fas fa-user-md fa-5x m-3 p-2"></i>
                            <i class="icons fas fa-briefcase-medical fa-5x m-3 p-2"></i>
                            <i class="icons fas fa-notes-medical fa-5x m-3 p-2"></i>
                        </span>
                    </div>
                    <div>
                        <h3 class="my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non odio reiciendis
                            consequatur distinctio, similique velit!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end banner -->
    <!-- info cards -->
    <div class="container">
        <div class="row d-flex justify-content-start all-cards">
            <!-- single card -->
            <div class="col-md-3 col-sm-6 px-0">
                <div class="card">
                    <div class="card-body card-1">
                        <i class="far fa-clock"></i>
                        <h5>Dr Felix Hours</h5>
                        <div>
                            <span class="d-flex justify-content-between">
                                <p>Monday, Tuesday</p>
                                <p>7am-5pm</p>
                            </span>
                            <hr class="line">
                        </div>
                        <div>
                            <span class="d-flex justify-content-between">
                                <p>Wednesday, Thursday</p>
                                <p>7am-5pm</p>
                            </span>
                            <hr class="line">

                        </div>
                        <div>
                            <span class="d-flex justify-content-between">
                                <p>Friday, Saturday</p>
                                <p>7am-5pm</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single card -->
            <!-- single card -->
            <div class="col-md-3 col-sm-6 px-0">
                <div class="card">
                    <div class="card-body card-2">
                        <i class="far fa-clock"></i>
                        <h5>Dr Smith Hours</h5>
                        <div>
                            <span class="d-flex justify-content-between">
                                <p>Monday, Tuesday</p>
                                <p>7am-5pm</p>
                            </span>
                            <hr class="line">

                        </div>
                        <div>
                            <span class="d-flex justify-content-between">
                                <p>Wednesday, Thursday</p>
                                <p>7am-5pm</p>
                            </span>
                            <hr class="line">

                        </div>
                        <div>
                            <span class="d-flex justify-content-between">
                                <p>Friday, Saturday</p>
                                <p>7am-5pm</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single card -->
            <!-- single card -->
            <div class="col-md-3 col-sm-6 px-0">
                <div class="card">
                    <div class="card-body card-3">
                        <i class="fas fa-vials"></i>
                        <h5>Lab Hours</h5>
                        <div>
                            <span class="d-flex justify-content-between">
                                <p>Monday, Tuesday</p>
                                <p>7am-5pm</p>
                            </span>
                            <hr class="line">

                        </div>
                        <div>
                            <span class="d-flex justify-content-between">
                                <p>Wednesday, Thursday</p>
                                <p>7am-5pm</p>
                            </span>
                            <hr class="line">

                        </div>
                        <div>
                            <span class="d-flex justify-content-between">
                                <p>Friday, Saturday</p>
                                <p>7am-5pm</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single card -->
            <!-- single card -->
            <div class="col-md-3 col-sm-6 px-0">
                <div class="card">
                    <div class="card-body card-4">
                        <i class="fas fa-ambulance"></i>
                        <h5>Urgent Care</h5>
                        <div class="urgent-info">
                            <h4 class="text-warning">(342)423-4324</h4>
                            <p>Urgent/Emergency Care same day. Walk-ins are wellcome</p>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end single card -->
        </div>
        <!-- end info cards -->
    </div>
{% endblock %}

